/**************************************************
Fonts
Droid Serif
Droid Sans
Droid Sans Mono

Font Scaling
6.854rem
4.236rem
2.618rem
1.618rem
1.0rem
0.618rem

Colour scheme

**************************************************/
@import 'https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif';

* 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Droid Sans', 'more font stack stuff', sans-serif;
    background-image: url(../images/fog-bg-img.jpg);
    background-size: cover;
    font-family: 'Droid Sans', 'Lato', 'Roboto', sans-serif;
    
}
/*************************** 
DEFAULTS - MOBILE FIRST 
***************************/
h1{
    font: bold 4.236rem 'Droid Serif', 'more font stack stuff', serif;
    color:  #A98AFF;
    font: bold 'Droid Serif', 'Neuton', 'Lora', serif;
}
h2{
    font: bold 2.618rem 'Droid Serif', 'more font stack stuff', serif;
    color: aliceblue;
    font: bold 'Droid Serif', 'Neuton', 'Lora', serif;
    
}
li, p, a{
    font:  1.618rem 'Droid Sans', 'more font stack stuff', sans-serif;
    text-decoration: none;
    color: #A98AFF;
    border: 1px;
    
    
}
pre, code, kbd{
    font: normal 1.0rem 'Droid Sans Mono', 'more font stack stuff', 
}
/***************************
    LAYOUT - MOBILE FIRST
***************************/
.wrapper{
    width: 95%;
    margin: 0 auto;
}
header{
    width: 100%;
    background-image: url(../images/mountain-header.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 50px;
    height: auto;
}
      
}

nav{
    width: 100%;
}
nav>ul{
    width: 100%;
    
   
    
    
    
}
nav li{
    width: 100%;
    list-style: none;
    border: 2px solid purple;
    
    
    
     
}
nav a,
nav a:link,
nav a:visited{
    display: block;
    font: bold 1.618rem 'Droid Sans', 'more font stack stuff', sans-serif;
    text-align: center;
    text-decoration: none;
    color: #A98AFF;
}
nav a:active,
nav a:focus,
nav a:hover{
    background-color:blueviolet;
    
}
main{
    width: 100%;
}
.col{
    float: none;
    width: 100%;
}
.col img{
    width: 100%;
    height: auto;
    max-width: 100%;
    background-color: azure;
}
footer{
    width: 100%;
    border-top: 3px solid blueviolet;
    margin: 0 auto;
    padding-bottom: 2rem;
    text-align: center;
    list-style: none;

}


footer a:hover{
    background-color: blueviolet;
}



@media screen and (min-width:600px){
/* Columns and Navigation
   wrapper - 100%
   header - 100%
   nav - 90%
   links - 20% of nav
   main - 90%
   columns - 50% of main
   column image - 60% of column
   footer - 90% */
    
    .wrapper{
        width: 100%;
        
    }
    
     header{
        width: 100%;
    }
    
    nav{
        width: 90%;
    }
    
    nav li{
        width: 20%;
        float: left;
        margin: auto;
        list-style: none;
        display: block;
        border: 2px solid purple;
       
        
        }
    
    
    main{
        width: 90%;
    }
    
    .col{
        width: 50%;
        width: calc(50%-2em);
        float: left;
        margin: 0 auto;
    }
    
    .col img {
        width: 60%;
    }
    
    footer{
        width: 90%;
        clear: left;
        list-style: none;
    }
    
    
   
    
}
@media screen and (min-width: 800px){
    
    header {
      width: 100%;
    }
    
    nav {
      border: none;
      margin: 0 auto; 
      
    }
    
    nav li{
        border: none;
    }
    
    footer {
      width: 100%
    }
    
.col img {
     width: 50%;
     float: left;
}
    
  

    
}
@media screen and (min-width: 1200px){
    
    header {
        width: 100%;
    }
    
    nav {
        float: left;
        width: 30%;
        
    }
    
    nav li {
        width: 100%;
        display: block;
        border: none;
        
    }
    
    main {
        float: left;
        width: 70%;
    }
    
    .col img {
        width: 55%;
        float: left;
        margin-right: auto;
    }
    
    
}
